.feedback {
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  background-color: $white;

  .feed-container {
    width: 80%;
    height: 70%;
    display: flex;

    .feed-left {
      width: 60%;
      height: 100%;

      img {
        height: 410px;
      }
    }

    .feed-right {
      width: 35%;
      height: 100%;

      h1 {
        font-size: 28px;
        margin-bottom: 20px;
        color: $brown;
        line-height: 1.5;
      }

      p {
        font-size: 20px;
        margin-bottom: 20px;
        color: $brown;
        line-height: 1.5;
      }

      a {
        text-decoration: none;
        font-size: 20px;
      }

      .feed-right-img {
        width: 100%;
        height: 45%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        img {
          height: 200px;
        }
      }
    }
  }
}
