@import "partials/_variables";
@import "partials/common";
@import "partials/nav";
@import "partials/jumbotron";
@import "partials/traditional";
@import "partials/modern";
@import "partials/feedback";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  //   background-color: lightblue;
}
